body{
    background-color: ;
}
.line {
    width: 19.5%;
    height: 1px;
    background-color: white; /* You can set the color of the line */
    transform: rotate(90deg);
    position: absolute;
    margin-left: 20px;
    margin-top: 150px;

  }
  
.ball{
    height: 40px;
    width: 40px;
}
.tab{
    text-align: center;
    height: 300px;
    width: 600px;
    background-color: green;
    margin-top: 250px;
    margin-left: 450px;
    border: 30pt solid rgb(85, 30, 30);
    border-radius: 20px;
    border-style:double;
}
#cir1{
    background-color: black;
    height: 40px;
    width: 40px;
    position:absolute;
    border-radius: 50%;
    top: 265px;
    left: 470px;
}
#cir2{
    background-color: black;
    height: 40px;
    width: 40px;
    position:absolute;
    border-radius: 50%;
    top: 263px;
    left: 760px;
}  
#cir3{
    background-color: black;
    height: 40px;
    width: 40px;
    position:absolute;
    border-radius: 50%;
    top: 265px;
    right: 410px;
}
#cir4{
    background-color: black;
    height: 40px;
    width: 40px;
    position:absolute;
    border-radius: 50%;
    bottom: 160px;
    right: 410px;
}
#cir5{
    background-color: black;
    height: 40px;
    width: 40px;
    position:absolute;
    border-radius: 50%;
    bottom: 160px;
    left: 768px;
}
#cir6{
    background-color: black;
    height: 40px;
    width: 40px;
    position:absolute;
    border-radius: 50%;
    top: 575px;
    left: 470px;
}
#b9{
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    margin-top: 9%;
    margin-left: 30%;
}
#w{
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 40%;
}
#b1{
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    right: 500px;
}
#b2{
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 50%;
}
#b3{
    height: 15px;
    width: 15px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 60%;
}
#b4{
    height: 15px;
    width: 15px;
    background-color: lime;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 50%;
}
#b5{
    height: 15px;
    width: 15px;
    background-color: purple;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 35%;
}
#b6{
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 60%;
}
#b7{
    height: 15px;
    width: 15px;
    background-color: violet;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 40%;
}
#b8{
    height: 15px;
    width: 15px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 35%;
}